.container {
    display: flex;
    flex-direction: row;
  }
  .box1 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .working {
    /* margin-left: 70px; */
  }
  .box2 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f3f6;
    height: 100vh;
  }
  .codep {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .cpulse {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding-left: 11px;
  }
  .log {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 20px;
  }
  .email {
    display: flex;
    flex-direction: column;
  }
  
  .password {
    display: flex;
    flex-direction: column;
  }
  .c2 {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .same {
    color: #555555;
    font-family: "Roboto", sans-serif;
  }
  .ip {
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #f1f3f6;
    height: 40px;
    border-radius: 8px;
  }
  .bt {
    margin-top: 20px;
  }
  .l2 {
    color: #c2c2c2;
  }
  .l1 {
    width: 40%;
    height: 1px;
    background: #c2c2c2;
  }
  .c3 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
  }
  .c4 {
    margin-top: 20px;
  }
  .btn {
    height: 40px;
    background-color: #fd7401;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #ffffff;
  
    width: 300px;
  }
  .btnsp{
    margin-top: 20px;
    height: 40px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #fd7401;
    border: 1px solid #fd7401;
    width: 300px;
  }
  
  