* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.profileHalf {
  display: flex;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part1 {
  background-color: #fd7401;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: #ffffff;
}
.mf {
  font-size: 12px;
  font-family: "Roboto";
  margin-left: 20px;
  margin-top: 20px;
}
.btn {
  background-color: #ffffff6d;
  color: #ffffff;
  width: 100px;
  height: 30px;
  border: none;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
.part2 {
  background-color: white;
  width: 400px;
  border: 2px solid #ebebee;
  border-radius: 10px;
  translate: 0 -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.btns {
  color: #1f1f1fce;
  background-color: #f0effa;
  border: none;
  width: 80px;
  height: 20px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 30px;
}
.part2-1 {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.part2-2 {
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 12px;
}

.name {
  color: gray;
  margin-bottom: 10px;
}

.part2-3 {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 1px solid gray;
  border-radius: 5px;
}

.edit {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.statement {
  padding: 10px;
  text-align: left;
  color: gray;
}

.part2-4 {
  width: 90%;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
}

.l {
  margin: 10px;
}
