.navbar {
  background: white;
}

.centered-list-item {
  list-style: none;
  padding: 0;
  margin: 90px;
}

.centered-list-item li {
  display: flex;
  align-items: center;
  /* Add additional styling as needed */
}
.sp {
  padding-left: 15px;
  color: #9197b3;
  font-family: "Roboto";
}
.im {
  padding-left: 55px;
}
.list-it {
  padding-bottom: 30px;
}
.im1 {
  padding-left: 115px;
}
.im3 {
  padding-left: 104px;
}
.im4 {
  padding-left: 50px;
}
